{% extends 'appportfolio/base.html' %}
{% load static %}
{% block content %}
<section>
  <div class="container">
    <!-- Ribbon Communications -->
    <div class="shadow-lg p-5 my-5 bg-white rounded">
      <div class="row my-3">
        <div class="col-md-4">
          <div class="row justify-content-center">
            <img src="{% static 'appportfolio/images/faarms.png' %}" class="compony-logo" alt="">
          </div>
        </div>
        <div class="col-md-8 border-left">
          <h1 class="text-uppercase text-persian-green font-weight-bold">Faarms</h1>
          <h5 class="text-muted">Full-Stack Developer</h5>
          <p class="text-muted">Dec, 2020 - Present</p>
          <ul class="text-muted">
            <li>1+ years of experience in Python, designing, developing, testing and implementing cloud-based microservices and REST APIs</li>
            <li>Designed and developed retention policy REST API framework for Postgres data using Python FastAPI</li>
            <li>Experience in developing web applications implementing MVC architecture using Django, FastAPI web application frameworks</li>
            <li>Experience in Agile Methodologies and Scrum-based experience in a unix environment</li>
            <li>Hands-on experience with cloud platforms like ReactJs , React-Netive</li>
            <li>Hands-on experience in tools like JIRA, Github, Docker</li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
    <!-- Full-Stack Developer Codebreak -->
    <div class="shadow-lg p-5 my-5 bg-white rounded">
      <div class="row my-3">
        <div class="col-md-4">
          <div class="row justify-content-center">
            <img src="{% static 'appportfolio/images/graygraph.png' %}" class="compony-logo" alt="">
          </div>
        </div>
        <div class="col-md-8 border-left">
          <h1 class="text-uppercase text-persian-green font-weight-bold">Graygraph Technologies</h1>
          <h5 class="text-muted">Full-Stack Developer</h5>
          <p class="text-muted">Dec, 2019 - Dec, 2020</p>
          <ul class="text-muted">
            <li>Develop Multiple Admin frontend project PHP, CodeignIter</li>
            <li>Implement search and filter contents on the frontend with the real time data from the database using search API</li>
            <li>Develop REST APIs and integrate them with the frontend along with all the validations to provide a seamless user experience</li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
    <!-- Full-Stack Developer Saakshar -->
    <div class="shadow-lg p-5 my-5 bg-white rounded">
      <div class="row my-3">
        <div class="col-md-4">
          <div class="row justify-content-center">
            <img src="{% static 'appportfolio/images/eduminlge.png' %}" alt="">
          </div>
        </div>
        <div class="col-md-8 border-left">
          <h1 class="text-uppercase text-persian-green font-weight-bold">Edmingle(Ascorb Technologies)</h1>
          <h5 class="text-muted">Full-Stack Developer</h5>
          <p class="text-muted">Dec, 2017 - Dec, 2019</p>
          <ul class="text-muted">
            <li>Develop the website (skillsertifika.com) from scratch using PHP, CodeignIter</li>
            <li>Develop CodeignIter framework for the website to match the design requirements</li>
            <li>Develop the official website setup and install initial configurations to make the site up and running</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Full-Stack Developer Saakshar -->
    <div class="shadow-lg p-5 my-5 bg-white rounded">
      <div class="row my-3">
        <div class="col-md-4">
          <div class="row justify-content-center">
            <img src="{% static 'appportfolio/images/ELLIPSONIC.jfif' %}" alt="">
          </div>
        </div>
        <div class="col-md-8 border-left">
          <h1 class="text-uppercase text-persian-green font-weight-bold">Ellipsonic</h1>
          <h5 class="text-muted">Intership</h5>
          <p class="text-muted">Feb, 2017 - Dec, 2017</p>
          <ul class="text-muted">
            <li>Develop the website (Skae.in) from scratch using PHP, CodeignIter</li>
            <li>Develop CodeignIter framework for the website to match the design requirements</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block hireme %}
<section class="py-5 bg-persian-green">
  <div class="container text-center">
    <img class="rounded-circle" src="{% static 'appportfolio/images/120x120.png' %}" alt="">
    <h1 class="font-weight-bold">Interested in hiring me for your project?</h1>
    <p>Looking for an experienced full-stack developer to build your web app or ship your software product? To start an initial chat, just drop me an email at <a class="text-sandy-brown" href="#">shravankushwaha2277@gmail.com</a> or use the <a class="text-sandy-brown" href="#">form on the contact page</a>.</p>
    <a class="btn btn-info bg-crayola" href="#">Let's Talk</a>
  </div>
</section>
{% endblock %}
